*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Helvetica;
    background:black;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1,h2,p{
    color:white;
}
.container{
    width:90%;
    max-width:800px;
    padding:30px;
    border-radius:15px;
    box-shadow:  0 0 20px rgba(65, 23, 23, 0);
}
h1,p{
    text-align:center;
    margin-bottom: 10px;
}
select{
    width:100%;
    padding:10px;
    margin-top: 20px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.question-card{
    margin-top: 50px;
    padding: 20px;;
    border:1px solid #ddd;
    border-radius: 18px ;
}
.controls{
    display:flex;
    gap:15px;
    margin-top: 20px;
}
.control button{
    flex:1;
}
.timer-box{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.answer-box{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}